<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>中医人物</title>
    <link rel="stylesheet" href="../../static/ttttt/bootstrap-3.3.5-dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../../static/ttttt/css/introduce.css"/>
</head>
<body data-spy="scroll" data-target="#slider-bar" data-offset="100">


<!-- 导航栏 -->
<div class='card-holder'>
    <div class='card-wrapper'>
        <a href='index1.html' class='card-a'>
            <div class='card bg-01'>
                <span class='card-content'>返回首页 #0</span>
            </div>
        </a>
    </div>
    <div class='card-wrapper'>
        <a href='#introduce1' class='card-a'>
            <div class='card bg-02'>
                <span class='card-content'>扁鹊 #1</span>
            </div>
        </a>
    </div>
    <div class='card-wrapper'>
        <a href='#introduce2' class='card-a'>
            <div class='card bg-03'>
                <span class='card-content'>华佗 #2</span>
            </div>
        </a>
    </div>
    <div class='card-wrapper'>
        <a href='#introduce3' class='card-a'>
            <div class='card bg-04'>
                <span class='card-content'>张仲景 #3</span>
            </div>
        </a>
    </div>
    <div class='card-wrapper'>
        <a href='#introduce4' class='card-a'>
            <div class='card bg-05'>
                <span class='card-content'>皇甫谧 #4</span>
            </div>
        </a>
    </div>
    <div class='card-wrapper'>
        <a href='#introduce5' class='card-a'>
            <div class='card bg-06'>
                <span class='card-content'>孙思邈 #5</span>
            </div>
        </a>
    </div>
    <div class='card-wrapper'>
        <a href='#introduce6' class='card-a'>
            <div class='card bg-07'>
                <span class='card-content'>王惟一 #6</span>
            </div>
        </a>
    </div>
    <div class='card-wrapper'>
        <a href='#introduce7' class='card-a'>
            <div class='card bg-08'>
                <span class='card-content'>钱乙 #7</span>
            </div>
        </a>
    </div>
    <div class='card-wrapper'>
        <a href='#introduce8' class='card-a'>
            <div class='card bg-09'>
                <span class='card-content'>李时珍 #8</span>
            </div>
        </a>
    </div>

</div>


<!-- 主体 -->
<div>
    <div class="container">
        <h1 class="tt">薪火相传，济世悬壶</h1>
        <hr style="border: 2px solid rgb(0,168,135)">
        <!-- 1 -->
        <div class="row py-5 border-bottom" id="introduce1">
            <div class="col-md-8">
                <h1>扁鹊--脉学之宗<small>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;时间：战国；医学成就：四诊法</small></h1>
                <p class="text-secondary">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;扁鹊是战国时期医学家，发明望闻问切诊断法去诊断疾病。

                </p>
                <p class="text-secondary">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;扁鹊在总结前人经验的基础上，提出了“望、闻、问、切”四诊合参的方法，扁鹊精于内、外、妇、儿、五官等科，应用砭刺、针灸、按摩、汤液、热熨等法治疗疾病，奠定了中医临床诊断和治疗的理论基础，扁鹊是中国传统医学的鼻祖，中医理论的奠基人，被后人誉为“医祖”。
                </p>
            </div>
            <div class="col-md-4">
                <img src="../../static/ttttt/img/rwimg/rwpq.jpg" class="w-100" style="width: 200px;">
            </div>
        </div>
        <!-- 2 -->
        <hr style="border: 2px solid rgb(0,168,135)">
        <div class="row py-5 border-bottom" id="introduce2">
            <div class="col-md-4 mt-5">
                <img src="../../static/ttttt/img/rwimg/rwht.jpg" class="w-100" style="width: 200px;">
            </div>
            <div class="col-md-8">
                <h1>华佗--外科鼻祖<small>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;时间：东汉；医学成就：麻沸散、五禽戏</small>
                </h1>
                <p class="text-secondary">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;华佗是东汉末年医学家，擅长外科手术，发明麻沸散用于麻醉，比西方早1600多年。华佗创编五禽戏(模仿虎、鹿、熊、猿、鸟)用于强身健体。
                </p>
                <p class="text-secondary">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;“五禽戏”，一叫虎戏，二叫鹿戏，三叫熊戏，四叫猿戏，五叫鸟戏，也可以用来防治疾病，同时可使腿脚轻便利索，用来当作“气功”。身体不舒服时，就起来做其中一戏，流汗浸湿衣服后，接着在上面搽上爽身粉，身体便觉得轻松便捷，腹中想吃东西了。”他的学生吴普施行这种方法锻炼，活到九十多岁时，听力和视力都很好，牙齿也完整牢固。五禽戏是一套使全身肌肉和关节都能得到舒展的医疗体操。华佗认为“人体欲得劳动，……血脉流通，病不得生，譬如户枢，终不朽也”。五禽戏的动作是模仿虎的扑动前肢、鹿的伸转头颈、熊的伏倒站起、猿的脚尖纵跳、鸟的展翅飞翔等。相传华佗在许昌时，天天指导许多瘦弱的人在旷地上作这个体操。说：“大家可以经常运动，用以除疾，兼利蹄足，以当导引。体有不快，起作一禽之戏，怡而汗出，因以着粉，身体轻便而欲食”。
                </p>


            </div>

        </div>
        <!-- 3 -->
        <hr style="border: 2px solid rgb(0,168,135)">
        <div class="row py-5 border-bottom" id="introduce3">

            <div class="col-md-8">
                <h1>张仲景--医圣<small>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;时间：东汉；医学成就：《伤寒杂病论》</small></h1>
                <p class="text-secondary">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;东汉著名医家张仲景深研古典医籍，广泛采集众人的有效药方，并结合自己的临床经验，著成《伤寒杂病论》。以六经辨伤寒，
                    以脏腑辨杂病，确立了中医学辨证施治的理论体系与治疗原则，为临床医学的发展奠定了基础。后世又将该书分为《伤寒论》和《金匮要略》。两书实收方剂269首，基本上概括了临床各科的常用方剂，被誉为
                    “方书之祖”。
                </p>
                <p class="text-secondary">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;《伤寒杂病论》是我国最早的理论联系实际的临床诊疗专书，被后世医家誉为“万世宝典”。它系统地分析了伤寒的原因、症状、发展阶段和处理方法，创造性地确立了对伤寒病的“六经分类”的辨证施治原则，奠定了理、法、方、药的理论基础。
                </p>
            </div>
            <div class="col-md-4">
                <img src="../../static/ttttt/img/rwimg/rwzzj.jpg" class="w-100" style="width: 200px;">
            </div>
        </div>
        <!-- 4 -->
        <hr style="border: 2px solid rgb(0,168,135)">

        <div class="row py-5" id="introduce4">
            <div class="col-md-4">
                <img src="../../static/ttttt/img/rwimg/rwhps.jpg" class="w-100" style="width: 200px;">
            </div>
            <div class="col-md-8">
                <h1>皇甫谧--针灸鼻祖<small>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;时间：西晋；医学成就：《针灸甲乙经》</small>
                </h1>
                <p class="text-secondary">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;西晋医家皇甫谧稽古论今，撰成《针灸甲乙经》12卷，128篇。该书为中国现存最早的一部针灸专书，其内容包括脏腑、经络、腧穴、病机、诊断、针刺手法、刺禁、腧穴主治等。
                </p>
                <p class="text-secondary">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;皇甫谧所撰写的《针灸甲乙经》是我国现存最早的一部理论联系实际，有重大价值的针灸学专著，被列为学医必读的古典医书之一。由此，皇甫谧被人们称做“中医针灸学之祖”。此书问世后，唐代医署就开始设立针灸科，并把它作为医生必修的教材。晋以后的许多针灸学专著，大都是在参考此书的基础上加以发挥而写出来的，也都没有超出它的范围。直至现在，我国的针灸疗法，虽然在穴名上略有变动，而在原则上均依据于它。一千六百多年来，它为针灸医生提供了临床治疗的具体指导和理论根据。同时，《针灸甲乙经》也对国外医学发展产生了重要影响，受到无数国家的重视。
                </p>
            </div>

        </div>
        <!-- 5 -->
        <hr style="border: 2px solid rgb(0,168,135)">

        <div class="row py-5" id="introduce5">

            <div class="col-md-8">
                <h1>孙思邈--药王<small>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;时间：唐代；医学成就：《千金方》</small></h1>
                <p class="text-secondary">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;孙思邈是唐代医药学家，被后人尊称为“药王”。孙思邈十分重视民间的医疗经验，不断积累走访，及时记录下来，终于完成了他的著作《千金要方》。
                </p>
                <p class="text-secondary">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;孙思邈集毕生之精力，搜集药方5000多个，著成《备急千金要方》、《千金翼方》各30卷，两册典籍对临床各科、针灸、食疗、预防、养生等均有论述，可谓集唐以前方书之大成。孙思邈还提出“大医精诚”，体现了中医对医道精微、心怀至诚、言行诚谨的追求。
                </p>
            </div>
            <div class="col-md-4">
                <img src="../../static/ttttt/img/rwimg/rwssm.jpg" class="w-100" style="width: 200px;">
            </div>
        </div>
        <!-- 6 -->
        <hr style="border: 2px solid rgb(0,168,135)">

        <div class="row py-5" id="introduce6">
            <div class="col-md-4">
                <img src="../../static/ttttt/img/rwimg/rwwwy.jpg" class="w-100" style="width: 200px;">
            </div>
            <div class="col-md-8">
                <h1>
                    王惟一--天下第一针<small>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;时间：宋代；医学成就：《铜人腧穴针灸图经》</small>
                </h1>
                <p class="text-secondary">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;王惟一对针灸学很有研究，集宋以前针灸学之大成，著有《铜人腧穴针灸图经》一书，奉旨铸造针灸铜人两座。为中国著名针灸学家之一。王惟一对医学，特别是针灸学有重要的贡献。其主要成就在于编著《铜人腧穴针灸图经》、铸铜人和刻石碑。
                </p>

            </div>

        </div>
        <!-- 7 -->
        <hr style="border: 2px solid rgb(0,168,135)">
        <div class="row py-5" id="introduce7">
            <div class="col-md-8">
                <h1>钱乙--儿科之圣<small>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;时间：宋代；医学成就：《小儿药证直诀》</small>
                </h1>
                <p class="text-secondary">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;钱乙是宋代医学家，也是中国医学史上第一个著名儿科专家，其所撰写的《小儿药证直诀》，是中国现存的第一部儿科专著，因而被后世尊称为“儿科之圣”“幼科之鼻祖”。
                </p>
                <p class="text-secondary">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;《小儿药证直诀》是最早记载辨认麻疹法和记百日咳的证治，也是最早从皮疹的特征来鉴别天花、麻疹和水痘；书中记述了多种初生疾病和小儿发育营养障碍疾患和多种著名有效的方剂；在书中他还创立了我国最早的儿科病历。此书一为历代中医所重视，列为研究儿科必读之书。它不仅是我国现存最早的第一部系统完整的儿科专著，而且也是世界上最早的儿科专著。
                </p>
            </div>
            <div class="col-md-4">
                <img src="../../static/ttttt/img/rwimg/rwqy.jpg" class="w-100" style="width: 200px;">
            </div>
        </div>
        <!-- 8 -->
        <hr style="border: 2px solid rgb(0,168,135)">
        <div class="row py-5" id="introduce8">
            <div class="col-md-4">
                <img src="../../static/ttttt/img/rwimg/rwlsz.jpg" class="w-100" style="width: 200px;">
            </div>
            <div class="col-md-8">
                <h1>李时珍--药圣<small>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;时间：明代；医学成就：《本草纲目》</small></h1>
                <p class="text-secondary">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;李时珍是明代著名医药学家，他在数十年行医以及阅读古典医籍的过程中，发现古代本草书中存在着不少错误，决心重新编纂一部本草书籍。
                </p>
                <p class="text-secondary">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;李时珍历时27年之久写成的《本草纲目》，收载药物1892种，附方10000多个，采用当时最先进的分类法，蕴含进化论思想，体例详明，用字严谨，对中国和世界药物学的发展做出了杰出的贡献。它不仅是一部药物集大成著作，而且是一部研究动植矿物的博物学巨著，被英国生物学家达尔文称它为“中国百科全书”。
                </p>
            </div>

        </div>
        <hr style="border: 2px solid rgb(0,168,135)">

    </div>
</div>

<!-- 页底版权 -->
<div style="background-color: rgb(227,226,226);" class="py-5 mt-5">
    <div class="container">
        <p class="fo" style="color:#5f5f5f; font-size: 16px;">&copy; 2022 Bin</p>
    </div>
</div>

<script src="../../static/ttttt/js/jquery-3.6.1.js" type="text/javascript" charset="utf-8"></script>
<script src="../../static/ttttt/js/bootstrap.bundle.js" type="text/javascript" charset="utf-8"></script>

</body>
</html>
