<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>大医精诚</title>
    <link rel="stylesheet" href="../../static/ttttt/bootstrap-3.3.5-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../static/ttttt/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../static/ttttt/css/video.css">
</head>
<body>
<!-- 返回首页 -->
<svg width="0" height="0">
    <filter id="filter">
        <feTurbulence type="fractalNoise" baseFrequency=".01" numOctaves="6"/>
        <feDisplacementMap in="SourceGraphic" scale="100"/>
    </filter>
</svg>

<div class="wrapper">
    <div class="button _1"><a href="index1.html" style="width: 100%;text-align:center;">首页</a>
        <div class="back"></div>

    </div>
    <div class="button _1"><a href="game.html" style="width: 100%;text-align:center;"> 游戏</a>
        <div class="back"></div>
    </div>
    <div class="button _1"><a href="test.html" style="width: 100%;text-align:center;"> 挑战</a>
        <div class="back"></div>
    </div>
</div>
<!-- 视频播放 -->
<div class="container">
    <!-- 1 -->
    <div class="mvcon">
        <video src="../../static/ttttt/img/v1.mp4" autobuffer autoloop loop controls class="mv">

        </video>
        <h3 class="maintt">我们的中医药</h3>
    </div>
    <!-- 2 -->
    <div class="listcon">
        <!-- 21-->
        <div class="list active">
            <video src="../../static/ttttt/img/v1.mp4" class="lv">

            </video>
            <h3 class="listtt">我们的中医药</h3>
        </div>
        <div class="list">
            <video src="../../static/ttttt/img/vv1.mp4" class="lv">

            </video>
            <h3 class="listtt">东方医学_1_送给世界的礼物</h3>
        </div>
        <!-- 22 -->
        <div class="list">
            <video src="../../static/ttttt/img/vv2.mp4" class="lv">

            </video>
            <h3 class="listtt">东方医学_2_针刺麻醉</h3>
        </div>
        <!-- 23 -->
        <div class="list">
            <video src="../../static/ttttt/img/vv3.mp4" class="lv">

            </video>
            <h3 class="listtt">东方医学_3_走向世界的中医</h3>
        </div>
        <!-- 24 -->
        <div class="list">
            <video src="../../static/ttttt/img/vv4.mp4" class="lv">

            </video>
            <h3 class="listtt">东方医学_4_更好地与癌症共存</h3>
        </div>

        <!-- 25 -->
        <div class="list">
            <video src="../../static/ttttt/img/vv5.mp4" class="lv">

            </video>
            <h3 class="listtt">东方医学_5_药食同源</h3>
        </div>

        <!-- 26 -->
        <div class="list">
            <video src="../../static/ttttt/img/vv6.mp4" class="lv">

            </video>
            <h3 class="listtt">东方医学_6_森林里的珍贵药材</h3>
        </div>

        <!-- 27 -->
        <div class="list">
            <video src="../../static/ttttt/img/vv7.mp4" class="lv">

            </video>
            <h3 class="listtt">东方医学_7_中医灸法</h3>
        </div>
        <!-- 28 -->
        <div class="list">
            <video src="../../static/ttttt/img/vv8.mp4" class="lv">

            </video>
            <h3 class="listtt">东方医学_8_现代中药的产业化</h3>
        </div>
        <!-- 29 -->
        <div class="list">
            <video src="../../static/ttttt/img/vv9.mp4" class="lv">

            </video>
            <h3 class="listtt">东方医学_9_中草药的规模化种植</h3>
        </div>

        <!-- 210 -->
        <div class="list">
            <video src="../../static/ttttt/img/vv10.mp4" class="lv">

            </video>
            <h3 class="listtt">东方医学_10_苗医的继承</h3>
        </div>

        <!-- 211 -->
        <div class="list">
            <video src="../../static/ttttt/img/vv11.mp4" class="lv">

            </video>
            <h3 class="listtt">东方医学_11_少林医药</h3>
        </div>

        <!-- 212 -->
        <div class="list">
            <video src="../../static/ttttt/img/vv12.mp4" class="lv">

            </video>
            <h3 class="listtt">东方医学_12_功夫疗法</h3>
        </div>

        <!-- 213 -->
        <div class="list">
            <video src="../../static/ttttt/img/vv13.mp4" class="lv">

            </video>
            <h3 class="listtt">东方医学_13_天人相应</h3>
        </div>

    </div>

</div>


<script src="../../static/ttttt/js/video.js"></script>
</body>
</html>
