<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/css/add.css">
</head>
<body>
<h1 class="vintage4">
    古今名医</h1>
<div id='bbbck'>
    <div class="container-lunbo">
        <div class="card-box-lunbo">
            <div class="card-lunbo">
                <a href="/add1"><img src="/static/ttttt/img/rwimg/rwwwy.jpg" alt=""></a>
            </div>
            <div class="card-lunbo">
                <a href="/add1"><img src="/static/ttttt/img/rwimg/rwlsz.jpg" alt=""></a>
            </div>
            <div class="card-lunbo">
                <a href="/add1"> <img src="/static/ttttt/img/rwimg/rwpq.jpg" alt=""></a>
            </div>
            <div class="card-lunbo">
                <a href="/add1"><img src="/static/ttttt/img/rwimg/rwht.jpg" alt=""></a>
            </div>
        </div>

    </div>

</div>
</body>
</html>